// Landing page

@media(max-width: 1100px)
  .landing-page
    .button-landing
      width: 35vw
      font-size: calc(14px + 10 * ((100vw - 500px)/(600)))

@media(max-width: 700px)
  .landing-page
    .button-landing
      width: 50vw

// Technologie

@media(max-width: 1000px)
  .technologie
    .technologie-grid
      grid-template-columns: repeat(2, 45%)

@media(max-width: 700px)
  .technologie
    .technologie-grid
      grid-template-columns: 100%

// Form

@media(max-width: 1300px)
  .form-section
    .first-row
      margin-bottom: 100px

      .left
        .options-strony
          flex-wrap: wrap

          label
            width: 35%
            margin: 12px 0

@media(max-width: 1200px)
  .form-section
    .first-row

      .right


    .second-row
      width: 90%

      .plany-grid
        .plan
          width: 26vw

    .third-row
      .right
        display: none

      .left
        margin-left: 0
        position: relative
        margin-bottom: 400px

        h3
          text-align: center

        form
          justify-content: center
          justify-items: center
          left: 50%
          position: absolute
          transform: translateX(-50%)

          input
            width: 90%
            font-size: 16px

          textarea
            margin: 40px 0

@media(max-width: 700px)
  .form-section
    .second-row
      .plany-grid
        flex-direction: column
        align-items: center

        .plan
          width: 70vw
          margin: 30px 0

    .third-row
      margin: 30px 0 0 0

      .left
        margin-left: 0
        width: 80vw

        h3
          text-align: center

        form
          width: 100%
          justify-self: center
          position: relative
          display: flex
          flex-direction: column
          align-items: center

          input
            width: 80%
            margin: 40px 0 20px 0
            font-size: 16px

          textarea
            width: 100%
            font-size: 16px



// Portfolio

@media(max-width: 1200px)
  .portfolio
    .portfolio-inner
      .portfolio-item
        width: 280px
        height: 193px

        .portfolio-img
          width: 100%
          height: 100%

@media(max-width: 900px)
  .portfolio
    .portfolio-inner
      width: 90vw

@media(max-width: 700px)
  .portfolio
    .portfolio-inner
      flex-direction: column
      align-items: center

      .portfolio-item
        margin: 20px 0
